
.main-header {
  width: 100%;

  .spacer {
    flex: 1 1 auto;
  }
}
nav{
  ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    li a{
      color: black;
      text-decoration: none;
    }
  }
}
.active-link{
  border-bottom: 2px solid black;
}
