
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Australian Shepherd</mat-card-title>
    <mat-card-subtitle>Herding group | <small>01.01.2026</small></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consequatur cupiditate iusto modi nam nesciunt quis suscipit veniam. Cumque ex facere ipsum laborum libero, modi necessitatibus nesciunt odit repellat!
  </mat-card-content>
  <mat-card-actions>
    <button matButton>Learn More</button>
  </mat-card-actions>
</mat-card>
