  <mat-card appearance="outlined" class="post-item" [routerLink]="['/posts', postItem.id]">

    <mat-card-header>
      <mat-card-title> {{postItem.title}}</mat-card-title>
      <mat-card-subtitle>{{postItem.author}} | <small>{{postItem.createdAt}}</small></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     {{postItem.description | truncate}}
    </mat-card-content>
    <mat-card-actions>
      <a  [routerLink]="['/posts', postItem.id]">Learn More</a>
    </mat-card-actions>
  </mat-card>
