@use '@angular/material' as mat;

@include mat.core();

// Create light theme
$my-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  )
));

// Create dark theme
$my-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
  )
));

html {
  @include mat.all-component-themes($my-light-theme);

  // Dark theme override
  &.dark-theme {
    @include mat.all-component-colors($my-dark-theme);
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
