@use '@angular/material' as mat;

@include mat.core();

// Create light theme
$my-light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  )
));

// Create dark theme
$my-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
  )
));

html {
  @include mat.all-component-themes($my-light-theme);

  // Dark theme override
  &.dark-theme {
    @include mat.all-component-colors($my-dark-theme);
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  &.success-message {
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snack-bar-container-color: #2e7d32; // Material green-700
    --mat-snack-bar-supporting-text-color: #fff;
  }

  &.error-message {
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snack-bar-container-color: #c62828; // Material red-700
    --mat-snack-bar-supporting-text-color: #fff;
  }

  &.info-message {
    --mat-mdc-snack-bar-button-color: #fff;
    --mat-snack-bar-container-color: #1565c0; // Material blue-800
    --mat-snack-bar-supporting-text-color: #fff;
  }

  &.warning-message {
    --mat-mdc-snack-bar-button-color: #000;
    --mat-snack-bar-container-color: #f57c00; // Material orange-700
    --mat-snack-bar-supporting-text-color: #000;
  }
}

